*{margin:  0; padding:  0;}
a{text-decoration: none; color: black;}

.lnb {
  margin: 0 auto;
}
.banner_box {
  margin: 20px auto;
}
.banner_box img {
  width: 50%;
}
.best_title {
  margin: 40px 0;
  font-weight: bold;
}
.new_title {
  margin: 20px 0;
  margin-bottom: 35px;
  font-weight: bold;
}
.best_box  {
  width: 304px;
  height: 680px;
}
.new_box {
  width: 304px;
  height: 680px;
}






.footer_section {
  width: 100%;
  background-color: rgb(48, 51, 51);

}

.footer_box {
  width:1296px;
  height: 500px;
  margin-top: 20px;
  margin: 0 auto;
}
.footer_logo {
  width: 150px;
  height: 90px;
  line-height: 100px;
}
.footer_logo a {
  font-size: 32px;
  font-weight: bold;
  color: white;
  font-family: 'Anton', sans-serif ;
  margin-left: 13px;
}
.footer_text {
  width: 50%;
  height: 300px;
  float: left;
  font-size: 11px;
}
.footer_text .footer01_top {
  width: 100%;
  display: flex;
  margin: 20px auto;
}
.footer_text .footer01_top p {
  width: 80px;
}
.footer_text .footer01_top p:first-child {
  margin-left: 13px;
}
.footer_text .footer01_top p:nth-child(3) {
  width: 105px;
}
.footer_text .footer01_top p:nth-child(4) {
  width: 105px;
}
.footer_text .footer01_bottom {
  text-align: left;
  margin-left: 13px;
}
.footer_text .footer01_bottom p:first-child {
  margin-bottom: 30px;
}


.footer_box p {color: white;}
.footer_box p a {color: white;}
.footer {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
.footer02 {
  width: 50%;
  height: 300px;
  margin-top: 30px;
  font-size: 11px;
  display: flex;
  text-align: center;
}
.footer02>div {
  width: 233px;
}
.footername {
  font-weight: bold;
  font-size: 13px;
}
.sns_box {
  width: 100%;

}
.sns div {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;

}
.sns_box div img {
  width: 100%;
  height: 50px;
}
















.top_box {
  font-size: 11px;
  display: flex;
  margin: 0 auto;
}
.top_box>p:first-child {
  width: 80%;
  text-align: left;
}
.top_box>p:last-child {
  width: 20%;
  text-align: right;
}
.price_box {
  display: flex;
  margin: 0 auto;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.price_box>p:first-child {
  width: 50%;
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
}
.price_box>p:last-child {
  width: 50%;
  text-align: left;
  color: #999;
  text-decoration: line-through;
}
.title {
  font-weight: bold;
}
.desc_box {
  text-align: left;
  font-size: 12px;

  margin-top: 5px;
}
.desc_box>p {
  margin: 0 ;
  height: 18px;
}
.btn_box {
  height: 30px;
}



.btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.btn:hover {
  background-color: #131140;
  color: white;
  font-weight: bold;
}



.cart_title {
  margin: 20px auto;
}


.d_best_box, .d_new_box {
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 100px;
}
.wrap {
  width: 1400px;
  height: 500px;
  overflow: hidden;
}

.d_best_img, .d_new_img {
  width: 30%;
  height: 500px;
  margin: 0 auto;
  float: left;
}
.d_best_img img, .d_new_img img {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}
.d_best_txt{
  width: 70%;
  height: 500px;
  float: left;
  padding-top: 80px;
}

.d_new_txt {
  width: 70%;
  height: 500px;
  float: left;
  padding-top: 120px;
}
.d_top_box {
  width: 304px;
  display: flex;
  margin: 0 auto;
}
.d_top_box>p:first-child {
  width: 70%;

}
.d_top_box>p:last-child {
  width: 30%;
  text-align: right;
}
.d_price_box {
  width: 304px;
  margin: 0 auto;
  display: flex;
}
.d_price_box p {
  width: 50%;
  margin-top: 10px;
}
.d_price_box>p:first-child {
  margin-right: 10px;
  font-weight: bold;
  text-align: right;
  font-size: 22px;
  line-height: 22px;
}
.d_price_box>p:last-child {
  text-decoration: line-through;
  font-size: 18px;
  line-height: 22px;
  color: #999;
  text-align: left;
}
.d_btn {
  width: 30px;
  margin-left: 5px;
}

.d_bar_title {
  width: 1400px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
  text-align: left;
}
.d_bar_box {
  width: 1400px;
  margin: 30px auto;
  display: flex;
}
.d_bar_box div {
  width: 350px;
  height: 200px;
}
.d_bar_box div img {
  width: 100%;
  height: 100%;
}
.d_bar_img_box {
  margin: 0 auto;
  margin-bottom: 100px;
}
.detail_box {
  width: 1400px;
  margin: 0 auto;
}



.about_title {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
.about_img {
  margin-bottom: 50px;
}
